/* About */
.wwe-container {
}
.wwe-head {
  height: 250px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease-in-out;
  color: var(--secondary-black);
  background-image: url("../images/question.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 250px;
  background-attachment: fixed;
}
.wwe-head span {
  color: var(--theme-color);
}
.wwe-content {
  padding: 50px calc(10vw);
  font-size: 1.5rem;
}
.wwe-content span {
  font-size: 8rem;
  line-height: 50px;
  color: var(--theme-color);
}

@media (max-width: 700px) {
  .wwe-head {
    font-size: 2rem;
    height: 200px;
    background-image: none;
  }
  .wwe-content {
    padding: 5px 10px;
    font-size: 1.1rem;
    line-height: 30px;
  }
  .wwe-content span {
    font-size: 5rem;
    line-height: 50px;
  }
}
@media (max-width: 500px) {
  .wwe-head {
    font-size: 1.5rem;
  }
}

/* About Info About InfoAbout InfoAbout Info --- ai */
.ai-container {
  width: 90%;
  margin: 100px auto;
  padding: 70px;
  background-color: #f5f5f5;
  color: #232323;
}
.ab-ser-wra {
  margin: 70px 0 0 0;
}

@media (max-width: 700px) {
  .ai-container {
    margin: 50px auto;
    padding: 10px;
  }
  .ab-ser-wra {
    margin: 50px 0 0 0;
  }
}
