/* Contact us Contact us Contact us Contact us Contact us  */
.contact {
  width: 90%;
  margin: 40px auto;
  background-color: #f5f5f5;
  padding: 70px;
  font-family: "Roboto", sans-serif;
}

.contactus-container {
  width: 90%;
  margin: 0;
  margin-top: 30px;
}
.contact-details h3 {
  color: #414141;
  margin-top: 15px;
  font-family: "Poppins";
  align-items: center;
  text-align: center;
}
.contact-details span {
  color: #212121;
  font-size: 22px;
}
.contact-details i {
  font-size: 32px;
  margin-top: 20px;
  color: rgb(41, 210, 20);
}

@media (max-width: 700px) {
  .contact {
    width: 95%;
    padding: 10px;
  }
}

/* form form form form form form form */
.cd-form {
  margin: 80px 0;
}
.cd-from .ti {
  width: 100%;
  border: none;
}
.cd-form .button {
  width: 100%;
  border-radius: 5px;
  font-size: 17px;
}

form {
  flex: 2;
  padding-right: 30px;
  margin-right: 30px;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
